* {
	padding: 0;
	margin: 0;
}

html {
	display: inline;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.right {
	text-align: left;
}

.left {
	text-align: right;
}


#side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #232;
}

#side > #card-container {
	width: 35ch;
}

#card-container > #card {
	width: 30ch;
	height: 45ch;
	
	margin: 2ch 2ch 2ch 2ch;
	
	border: 3px solid black;
	border-radius: 2ch;
	
	background-color: #e8c874;
}

#card > #pic {
	width: 28ch;
	height: 21ch;

	margin: .75ch;
	
	border: 2px solid black;
	border-radius: 2ch;
	
	object-fit: cover;
}

#card > #header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: -.5ch 1.5ch 0ch 1.5ch;
}

#header > div > h2 {
	font-size: 14pt;
}

#header > div > h3 {
	font-size: 8pt;
	margin-top: -.5ch;
}

#card > hr {
	border: 1px solid black;
	margin: 0ch 1ch 0ch 1ch;
}

#side > #links {
	width: 35ch;
	height: 20ch;

	text-align: right;

	border-top: 5px solid #000;
	background-color: #337733;
}

#links > #link-box {
	padding: 2ch;
}

#list-container{
	width: 100%;
	height: 100%;

	background-color: #558855;
}

#construction {
	height: 15ch;
	padding: 1.5ch;
	padding-left: 7.5ch;
}
